@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|PT+Sans:400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Ubuntu:300,300i,400,400i,500,500i,700,700i|PT+Serif:400,400i,700,700i');
.t004 div {font-family: PT Serif, Georgia, serif !important;
                              font-size: 18px !important;
               line-height: 1.44 !important;
               font-weight: 400 !important;
}
.t022 div {font-family: PT Serif, Georgia, serif !important;
           font-size: 18px !important;
           line-height: 1.44 !important;
           font-weight: 400 !important;
}
.t046 div {font-family: PT Serif, Georgia, serif !important;
           font-size: 18px !important;
           line-height: 1.44 !important;
           font-weight: 400 !important;
}
.t051 span {font-family: PT Serif, Georgia, serif !important;
           font-size: 18px !important;
           line-height: 1.44 !important;
           font-weight: 400 !important;}
#rec33983908 .tn-elem[data-elem-id="1505308384423"] .tn-atom {font-family: PT Serif, Georgia, serif !important;}
#rec33983908 .tn-elem[data-elem-id="1505386149577"] .tn-atom {font-family: PT Serif, Georgia, serif !important;}
#rec33983922 .tn-elem[data-elem-id="1477661705844"] .tn-atom {font-family: PT Serif, Georgia, serif !important;}

.t528__text t-text t-text_xs t-margin_auto {font-family: PT Serif, Georgia, serif !important;}    
.t396 div {font-family: PT Serif, Georgia, serif !important;
           font-size: 18px !important;
           line-height: 1.44 !important;
           font-weight: 400 !important;}     
.t764 span {font-family: PT Serif, Georgia, serif !important;
                              font-size: 18px !important;
               line-height: 1.44 !important;
               font-weight: 400 !important;}   
.t195 div {font-family: PT Serif, Georgia, serif !important;
           font-size: 18px !important;
           line-height: 1.44 !important;
           font-weight: 400 !important;} 
